body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px;
}
td:hover{
    background-color: grey;
}